.service{
    width: 346px;
    height: 1154px;
}



.card5{
    height: 330px;
    width: 1154px;
    margin: 50px;
    position: relative;
}

.card5 img{
     height: 100%;
    width: 100%;
    object-fit: cover;
}

.card5-Text h4{
     position:absolute;
     top: -3%;
     left: 80px;
     color: #9C6955;
       font-family: "Libertinus Mono", monospace;
  font-weight: 400;
  font-size: 40px;
}

.card5-Text p{
    position: absolute;
    color: #9C6955;
    top: 25%;
    left: 80px;
}

.contact {

    width: 169px;
    height: 46px;
    position: absolute;
    top: 40%;
    left: 80px;
    color: #9C6955;
    
}

.visit-container {
  position: relative;
  background: url("../assets/map.png") no-repeat center center;
  background-size: cover;
  height: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: px;
  width: 1159px;
  margin-left: 50px;
  margin-top: 200px;
   
  
  
}

.visit-card {
  background: white;
  padding: 25px;
  border-radius: 6px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
  max-width: 350px;
  font-family: "Steppe", sans-serif; /* if you want the Steppe font */
  margin-left: 30px;
}

.visit-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.visit-card p {
  margin: 5px 0;
  color: #333;
  font-size: 14px;
}

.direction-btn {
  background: #004d40; /* dark green */
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
}
