.container{
     width: 1440px;
     height: 150px;
     background-color: rgb(206, 241, 206);
     margin-top: 100px;
}

.div{
    display: flex;
    justify-content: center;
    height: 90%;
}

.div input{
    display: flex;
     align-self: center;
     align-items: center;
     width: 1010px;
     height: 29px;
     border: 1px solid  #00584d;
     padding: 5px 20px;
    
}

.div img{
    height: 6vh;
    margin-top: 48px;
    margin-right: 10px;
    border: 1px solid black;
}
.icon2 {
  display: flex;
  align-items: center;
  margin-left: 100px; 
}

.icon2 img {
  height: 39px;       
  cursor: pointer; 
  background-color: #00584d;   
  position: relative;  
  right: 100px;
  bottom: 24px;
  margin-left: 8px;
}






